*{
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.navbar{
  width : 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  margin: auto;
  margin-top: 0;
  background-color:#FAFAFB;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}
.logo-img{
  margin-left: 7rem;
}
.logo-img>img{
  margin: 0;
  height: 100%;
}
.navbar-right{
  margin-right: 6rem;
  display: flex;
  align-items: baseline;
  flex-basis: auto;
  justify-content: space-evenly;
  width: 43%;
  height: 100%;
  letter-spacing: 1px;
}
.navbar-right>div{
  margin: auto;
  font-size: small;
}
.navbar>.navbar-right>div>p{
  margin: auto;
  font-size:small;
}
.dropdown{
  position: relative;
}
.dropdown>.dropdown-menu{
  position: absolute;
  left: 0;
  top: calc(100% + 0.8rem);
  margin-top: 1rem;
  border: 1px solid #bfbfca;
  opacity: 0;
  pointer-events: none;
  transform: translateY(-10px);
  transition: opacity 250ms ease-in-out, transform 250ms ease-in-out;
}

.dropdown>.select:focus+.dropdown-menu{
  opacity: 1;
  transform: translateY(0px);
  pointer-events: auto;
}

.information-grid{
  background-color: white;
  display: grid;
  grid-template-columns: repeat(2,max-content);
  gap: 1rem;
}

.dropdown-links{
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.dropdown-links>div{
  padding: 6px;
  padding-left: 12px;
  padding-right: 12px;
}
.dropdown-links>div>a{
  text-decoration: none;
  color: #191c21;
  font-size: 16px;
  line-height: 28px;
}
.dropdown-links>div:hover{
  background-color: #F0F0F4;
  
}
.navbar-right .select{
  border: none;
  font-size: small;
  letter-spacing: 1px;
  margin: 0;
  padding: 0;
  background-color: transparent;
}

.navbar>.navbar-right>button{
  width: 70px;
  height: 40px;
  margin: auto;
  color: #4636C5;
  font-size: small;
  font-weight: 400;
  border-radius:  38px;;
  border: 1px solid  #5846F6  ;  
  background-color: white;
}

.navbar>.navbar-right>#signup{ 
  background-color: #5846F6;
  color: white;
  width: 80px;
}
.navbar>.navbar-right>button:hover{
  background-color: #4636C5;
  color:#FAFAFB;
}
.navbar>.navbar-right>#signup:hover{ 
  background-color: #4636C5;;
  color: white;
  width: 80px; 
}


.heading{
  padding-top: 5rem;
  height: 10rem;
  margin: auto;
}
.heading>h1{
  margin-top: 6rem;
  text-align: center;
  font-size: 37px;
  font-weight: 700;
}
.container-child1{
  height: 550px;
  margin-top: 0;
}

#child1{
  margin: auto;
  height: 500px;
  width: 80%;
  font-family: sans-serif;
  display: flex;
  justify-content: space-around;
}

#child1-text{
  width: 41%;
  padding-left: 40px;
}

#child1-text>#span>span{
  display: block;
  font-size: 37px;
  font-weight: bold;
  margin-top: 50px;
  text-align: left;
}

#child1-text>#p-b{
  margin-top: 2rem;
  font-family: sans-serif;
  padding-right: 40px;
}

#child1-text>#p-b>span{
  font-size: 21px;
  line-height: 28px;
  color: #24282f;
}

#child1-text>div>button{
  width: 160px;
  height: 50px;
  font-size: 16px;
  margin-top: 15px;
  border-radius: 38px;
  border: none;
  background-color: #5846F6;
  color: #FAFAFB;
}

#child1-text>div>button:hover{
  background-color:#4636C5;
  color: #FAFAFB;
}

#child1-img{
  width: 50%;
  margin-left: 0;
  margin-top: 60px;
  margin-right: 40px;
}

#child1-img>img{
  width: 100%;
  border-radius: 1rem;
}

.container-signup{
  height: 24rem;
  text-align: center;
  border: 1px solid;
  color: white;
  margin: auto;
  width: 73%;
  border-radius: 2rem;
  background-image: url("https://storage.googleapis.com/lumen5-site-images/website-assets/cta-bg.png");
}

.container-signup>p:first-child{
  font-size: 37px;
  margin-left: 20%;
  width: 59%;
  line-height:50px;
  margin-top: 4rem;
  font-weight: bold;
}

.container-signup>p+p{
  font-size: 21px;
  margin-left: 20%;
  width: 55%;
  margin-top: 2rem;
}

.container-signup>.btn{
  width: 12%;
  margin: auto;
  height: 4rem;
  margin-top: 2.4rem;
}

.btn>button{
  text-align: center;
  margin: auto;
  width: 100%;
  height: 80%;
  color: #0056b3;
  background-color: white;
  border: none;
  border-radius: 36px;
}

.companies{
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-top: 4rem;
  height: 700px;
  width: 100%;
  background-color: #FAFAFB;
}
.companies>.row{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: auto;
  height: 100%;
  width: 80%;
}

.companies>.row>.cards{
  margin: auto;
  width: 250px;
  height: 320px;
}

.row>.cards>div{
  width: 100%;
}
.row>.cards>b{
  font-size: 21px;
  display: block;
  margin-bottom: 0.5rem ;
}
.row>.cards>p{
  font-size: 14px;
  line-height: 21px;
  color: #24282f;
}
.cards>div>img{
  width: 100%;
  border-radius: 8px;
  margin-bottom: 1rem ;
}

.container-signup{
  height: 24rem;
  text-align: center;
  border: 1px solid;
  color: white;
  margin: auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
  width: 73%;
  border-radius: 2rem;
  background-image: url("https://storage.googleapis.com/lumen5-site-images/website-assets/cta-bg.png");
}

.container-signup>p:first-child{
  font-size: 37px;
  margin-left: 20%;
  width: 59%;
  line-height:50px;
  margin-top: 4rem;
  font-weight: bold;
}

.container-signup>p+p{
  font-size: 21px;
  margin-left: 20%;
  width: 55%;
  margin-top: 2rem;
}

.container-signup>.btn{
  width: 12%;
  margin: auto;
  height: 4rem;
  margin-top: 2.4rem;
}
.btn>button{
  text-align: center;
  margin: auto;
  width: 100%;
  height: 80%;
  color: #0056b3;
  background-color: white;
  border: none;
  border-radius: 36px;
}