#container {
    height: 760px;
    width: 100%;
    /* border: 1px solid red; */
    display: flex;
}

#box1 {
    background-image: url("https://storage.googleapis.com/lumen5-site-images/website-assets/login-bg3.png");
    background-size: cover;
    height: 90%;
    width: 32%;
    /* border: 1px solid red; */
    /* background-color: #5c49e5; */
}

#box1>div {
    height: 11%;
    width: 100%;
    /* border: 1px solid red; */
}

#box1>div>img {
    height: 75px;
    width: 110px;
    padding: 15px 0px 0px 25px
}

#box1>div:nth-child(2) {
    height: 50%;
    width: 100%;
    /* border: 1px solid red; */
}

#word1 {
    height: 60%;
    width: 100%;
    /* border: 1px solid blue; */
}

#word2 {
    height: 40%;
    width: 100%;
    /* border: 1px solid blue; */
}

#word1>h1 {
    font-family: poppins, sans-serif;
    font-size: 47px;
    font-weight: 530;
    line-height: 150%;
    padding-left: 20px;
    color: #ffffff;
}

#word2>h2 {
    font-family: poppins, sans-serif;
    font-size: 30px;
    font-weight: 500;
    line-height: 150%;
    padding-left: 20px;
    color: #ffffff;
}

#logo {
    height: 75%;
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 05px;
}

#logo>div {
    height: 65px;
    width: 100px;
    border: 1px solid #5c49e5;
}

#logo>div>img {
    height: 60px;
    width: 90px;
    padding-left: 5px;
}

#box2 {
    height: 100%;
    width: 70%;
    /* border: 1px solid red; */
}

#box2>div {
    height: 8%;
    width: 90%;
    /* border: 1px solid red; */
}

#box2>div>h1 {
    font-family: poppins, sans-serif;
    font-size: 35px;
    text-align: center;
    line-height: 30px;
}

form {
    margin-left: 80px;
}

level {
    border: none;
}

#inputTag {
    /* pointer-events: none; */
    font-size: 25px;
    border-bottom: 3px solid grey;
    padding-top: 40px;
    box-sizing: border-box;
    border: 0px 0px 1px 0px;
    height: 55px;
    width: 70%;
    margin-bottom: 20px;
    position: relative;
}


/* #inputTag:hover {
    background-color: #6757f6;
} */

p {
    font-family: Poppins, sans-serif;
}

#pCriteria {
    height: 60px;
    width: 90%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: flex-start;
    gap: 90px;
}

#pCriteria>div {
    height: 60px;
    width: 33%;
    /* border: 1px solid red; */
}

li {
    font-family: Poppins, sans-serif;
}

ul {
    list-style: none;
}

ul li::before {
    content: "\2022";
    color: #6757f6;
    font-weight: bolder;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

#button {
    margin-top: 20px;
    height: 50px;
    width: 70%;
    /* border: 1px solid red; */
    border-radius: 30px;
    background: #6757f6;
}

#button>input {
    display: flex;
    justify-content: space-evenly;
    padding-top: 13px;
    margin: auto;
    border: none;
    background-color: #6757f6;
    color: aliceblue;
    font-size: 20px;
    cursor: pointer;
}

#or {
    height: 15px;
    width: 70%;
    /* border: 0.2px solid red; */
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
}

#or>div {
    height: 0px;
    width: 50%;
    border: 0.2px solid #c6cad1;
    margin-top: 7px;
}

#fbook {
    border: 2px solid #6757f6;
    height: 50px;
    width: 70%;
    border-radius: 30px;
    margin-top: 25px;
    display: flex;
    justify-content: center;
}

#fbook>div {
    font-size: 20px;
    height: 50px;
    width: 35%;
    /* border: 1px solid red; */
    text-align: center;
    padding-top: 15px;
    box-sizing: border-box;
}

#fbook>div>a {
    text-decoration: none;
    color: #667fb9;
}

#tlog {
    height: 30px;
    width: 60%;
    /* border: 1px solid red; */
    margin-top: 15px;
    display: flex;
}

#tc {
    margin-bottom: 15px;
    height: 20px;
    width: 90%;
    /* border: 1px solid red; */
    display: flex;
}