*{ font-family: 'Poppins', sans-serif; }
                
#container{
    width: 50%;
    margin: auto;
    text-align: center;
}

#container > p{
    font-size: 20px;
    margin-top: 100px;
}

#heading{ font-size: 40px; margin-bottom: 40px;}

#duration{
    width:33.1%;
    margin: auto;
    display:flex;               
}

#billmonthly, #billyearly{      
    font-size: 17px;
    padding: 15px 20px 15px 20px;
    background-color: rgb(80, 80, 104);
    color: white;
}

#billmonthly{
    border-radius: 25px 0px 0px 25px;
    background-color: white;
    color: rgb(92, 89, 85);
    border-color: black;
}
#billyearly{
    border-radius: 0px 25px 25px 0px ;
}

.Onclick{
    color: white;
    background-color: rgb(80, 80, 104);
}

#duration > button:hover{
    background-color: rgb(133, 129, 125);
    color: white;
}

#plans, #pricingdes{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 20px;
    margin: 60px auto auto auto;
}

#plans > div{
    border: 0.2px solid rgb(172, 168, 168);
    border-radius: 10px;
    padding: 20px;
}

.getStart{
    color: blueviolet;
    background-color: white;
    padding: 12px 40px 12px 40px;
    border-color: blue;
    border-radius: 25px;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 0px;
}

button:hover, #btndiv > button:hover{
    color: white;
    background-color: blue;
    cursor: pointer;
}

#plans p, #pricingdes p { font-size: 13px;  }

#plans h3 {  color: blue;  }

#plans h1 {  font-size: 22px;  }

#plans > div:nth-child(4) > div:nth-child(4) > button{
    background-color: blue; color: white;
} 

#plans > div:nth-child(4) > div:nth-child(4) > button:hover{
    background-color: rgb(4, 4, 207); color: white;
} 

/*#plans > div:nth-child(4) > div:nth-child(1) p {
    background-color: blue;
}    */

#pricingdes{ margin-top: 25px; }

.head2 { text-align: center; 
    font-weight: 400;
    margin-top: 50px;            
}
        
#btndiv{
    width: 24%;            
    display: flex;
    margin: auto;
    margin-top: 125px;
    margin-bottom: 65px;
}
#btndiv > button:last-child, #things > div:nth-child(3) > button{
    color: white;
    background-color: blue;
}

#btndiv > button:last-child:hover, #things > div:nth-child(3) > button:hover{
    color: white;
    background-color: rgb(4, 4, 207);
}        
#btndiv > button, #things > div > button{
    border-color: blue;
    border-radius: 25px;
    color: blue;
    background-color: white;
    padding: 10px;
    font-size: 17px;        
}

#things > div > button:hover{
    color: white;
    background-color: blue;
}

#testimonials{            
    background-color: rgb(245, 238, 238);
    padding-top: 75px;
    padding-bottom: 75px;
}

#inside{
    width: 72%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 35px;                    
}

#inside > div{
    background-color: white;
    padding: 20px;
    text-align: center;
}

img{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    display: block;
    margin: auto;
}

#inside > div > h5{
    color: grey;
}

.chooseplan{
    text-align: center;
}    

#thead{
    width: 75%;  
    margin: auto;
    display: flex;   
}

.maindiv{
    width: 75%;  
    margin: auto;
    display: flex;
}

#blank{
    width: 37%;     
}

.insideMain1{
    width: 37%;     
}

#things{
    width: 63%;   
    display: grid;
    grid-template-columns: repeat(4,1fr);   
}

.insideMain2{
    width: 63%;   
    display: grid;
    grid-template-columns: repeat(4,1fr);  
}

#things > div{
    text-align: center;
}

#things > div > p{
   font-size: 13px;
   color: gray;
}

hr{
   width: 75%;  
   background-color: rgb(194, 191, 191);
   margin-top: 18px;
}

.insideMain1 > div{
    padding-left: 20px;
}

.insideMain2 > div{
    text-align: center;   
}

i{ color: rgb(185, 183, 183);}

.fa-check{
    color: lightgreen;
}

.table{  
    margin-bottom: 40px; 
    margin-top: 30px; 
}

.faq{ 
    text-align: center;
    margin-top: 100px;
    font-weight: 400;
}

#faqs{
    width: 75%;    
    margin: auto;    
    display: flex;
    margin-top: 50px;
}

#faqs > div{
    width: 50%;    
}

#faqs > div > div{
    width: 100%;
    height: 50%;
   
}

#faqs > div > div > p{
    margin: 30px 0px 0px 20px;
    font-size: 20px;
}

#faqs > div > div > h5{
    margin-left: 20px;
    margin-right: 20px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.container-signup{
    height: 24rem;
    text-align: center;
    border: 1px solid;
    color: white;
    margin: auto;
    margin-top: 5rem;
    margin-bottom: 3rem;
    width: 73%;
    border-radius: 2rem;
    background-image: url("https://storage.googleapis.com/lumen5-site-images/website-assets/cta-bg.png");
  }
  
  .container-signup>p:first-child{
    font-size: 37px;
    margin-left: 20%;
    width: 62%;
    line-height:50px;
    margin-top: 3rem;
    font-weight: bold;
  }
  
  .container-signup>p+p{
    font-size: 21px;
    margin-left: 20%;
    width: 55%;
    margin-top: 2rem;
  }
  
  .container-signup>.btn{
    width: 12%;
    margin: auto;
    height: 4rem;
    margin-top: 2.4rem;
  }
  .btn>button{
    text-align: center;
    margin: auto;
    width: 100%;
    height: 80%;
    color: #0056b3;
    background-color: white;
    border: none;
    border-radius: 36px;
  }

  .btn>button:hover{
    text-align: center;
    margin: auto;
    width: 100%;
    height: 80%;
    color: #0056b3;
    background-color: #e7dede;
    border: none;
    border-radius: 36px;
  }
  



.navbar{
  width : 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  margin: auto;
  margin-top: 0;
  background-color:#FAFAFB;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}
.logo-img{
  margin-left: 7rem;
}
.logo-img>img{
  margin: 0;
  height: 100%;
}
.navbar-right{
  margin-right: 6rem;
  display: flex;
  align-items: baseline;
  flex-basis: auto;
  justify-content: space-evenly;
  width: 43%;
  height: 100%;
  letter-spacing: 1px;
}
.navbar-right>div{
  margin: auto;
  font-size: small;
}
.navbar>.navbar-right>div>p{
  margin: auto;
  font-size:small;
}
.dropdown{
  position: relative;
}
.dropdown>.dropdown-menu{
  position: absolute;
  left: 0;
  top: calc(100% + 0.8rem);
  margin-top: 1rem;
  border: 1px solid #bfbfca;
  opacity: 0;
  pointer-events: none;
  transform: translateY(-10px);
  transition: opacity 250ms ease-in-out, transform 250ms ease-in-out;
}

.dropdown>.select:focus+.dropdown-menu{
  opacity: 1;
  transform: translateY(0px);
  pointer-events: auto;
}

.information-grid{
  background-color: white;
  display: grid;
  grid-template-columns: repeat(2,max-content);
  gap: 1rem;
}

.dropdown-links{
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.dropdown-links>div{
  padding: 6px;
  padding-left: 12px;
  padding-right: 12px;
}
.dropdown-links>div>a{
  text-decoration: none;
  color: #191c21;
  font-size: 16px;
  line-height: 28px;
}
.dropdown-links>div:hover{
  background-color: #F0F0F4;
  
}
.navbar-right .select{
  border: none;
  font-size: small;
  letter-spacing: 1px;
  margin: 0;
  padding: 0;
  background-color: transparent;
}
.navbar-right .select:hover{
    border: none;
    font-size: small;
    letter-spacing: 1px;
    margin: 0;
    padding: 0;
    background-color: transparent;
    color: black;
  }

.navbar>.navbar-right>button{
  width: 70px;
  height: 40px;
  margin: auto;
  color: #4636C5;
  font-size: small;
  font-weight: 400;
  border-radius:  38px;;
  border: 1px solid  #5846F6  ;  
  background-color: white;
}

.navbar>.navbar-right>#signup{ 
  background-color: #5846F6;
  color: white;
  width: 80px;
}
.navbar>.navbar-right>button:hover{
  background-color: #4636C5;
  color:black;
}
.navbar>.navbar-right>#signup:hover{ 
  background-color: #4636C5;;
  color: white;
  width: 80px; 
}
