*{ font-family: 'Poppins', sans-serif; }

#head1, #head2, #head3{
    margin: 100px auto 50px auto;
    text-align: center;   
    font-size: 40px;
}

#head3{ margin-top:150px; }

#podcast{
    width: 70%;
    margin: auto;
    display: flex;
    font-size: 20px;
    line-height: 33px;
    margin-bottom: 150px;
}

#podcast > div{
    padding: 30px;
}

span{
    color: rgb(58, 58, 252);
}

a{ 
    text-decoration:none; 
   color: rgb(58, 58, 252); 
}

span:hover{
    text-decoration: underline;
    cursor: pointer;
}


#ebook, #web{
    width: 62%;   
    margin: auto;
    display: flex;    
}

#ebook > div, #web > div{
    width: 30.5%;    
    margin: auto;
    margin-top: 0;   
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    border-radius: 10px; 
}

#ebook > div:hover, #web > div:hover{
    cursor: pointer;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#ebook a, #web a{
    color: black;
}

#ebook > div > div, #web > div > div{      
    padding: 0px 20px 20px 20px;  
}

#ebook > div > div > h5, #web > div > div > h5{
   font-weight: 400;
   color: gray;
}

#ebook > div > div >p, #web > div > div >p{
    font-size: 20px;
    line-height: 30px;
    margin-top: -10px;
}

#ebook > div > div > h4, #web > div > div >h4{
    text-align: right;
    font-weight: 100;
    margin-bottom: 10px;
}

#ebook img, #web img{
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}

#joinus{
    width: 74%;
    height: 430px;
    margin: auto;
    background-color: rgb(71, 71, 255);
    border-radius: 20px;
    margin-top: 135px;
    margin-bottom: 70px;
}

#insidejoin{
    width: 58%;    
    margin: auto;    
    color: white;
    text-align: center;
    padding-top: 45px;
}

#insidejoin > h1{
    font-size: 40px;    
}

#insidejoin > p{
    font-size: 24px;  
    margin-top: 30px;  
}

#insidejoin > button{
   color: blue;
   background-color: white;
   font-size: 18px;
   padding: 18px 21px 18px 21px;
   border-radius: 30px;   
   border: none;
   margin-top: 10px; 
}

#insidejoin > button:hover{
    cursor: pointer;
}

table a{
    text-decoration: none;
    color: #c3c3d4;
  }
  #explore{
  height: 450px;
  width: 100%;
  margin-top: 50px;
  display: flex;
  background-color: #24282f;
  }
  #explore>div{
  width: 50%;
  }
  #explore img{
  padding-top: 50px;
  padding-left: 100px;
  height: 35px;
  width: 120px;
  }
  #explore p{
  font-size: 15px;
  color: #eae7ee;
  padding-left: 100px;
  padding-right: 62%;
  text-align: left;
  margin-top: 30px;
  }
  #tableBot{
  margin-top: 30px;
  width: 100%;
  line-height: 30px;
  font-size: 15px;
  }
  #tableBot>thead{
  text-align: left;
  height: 80px;
  color: #eae7ee;
  }
  #tableBot>tbody{
  color: #c3c3d4;
  }
  .navbar a{
    text-decoration: none;
  }
  .navbar{
    width : 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-top: 0;
    background-color:#FAFAFB;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
  }
  .logo-img{
    margin-left: 7rem;
  }
  .logo-img>img{
    margin: 0;
    height: 100%;
    cursor: pointer;
  }
  .navbar-right{
    margin-right: 6rem;
    display: flex;
    align-items: baseline;
    flex-basis: auto;
    justify-content: space-evenly;
    width: 43%;
    height: 100%;
    letter-spacing: 1px;
  }
  .navbar-right>div{
    margin: auto;
    font-size: small;
    cursor: pointer;
  }
  .navbar>.navbar-right>div>p{
    margin: auto;
    font-size:small;
  }
  .dropdown{
    position: relative;
  }
  .dropdown>.dropdown-menu{
    position: absolute;
    left: 0;
    top: calc(100% + 0.8rem);
    margin-top: 1rem;
    border: 1px solid #bfbfca;
    opacity: 0;
    /* pointer-events: none; */
    transform: translateY(-10px);
    transition: opacity 250ms ease-in-out, transform 250ms ease-in-out;
  }
  
  .dropdown>.select:focus+.dropdown-menu{
    opacity: 1;
    transform: translateY(0px);
    pointer-events: auto;
  }
  
  .information-grid{
    background-color: white;
    display: grid;
    grid-template-columns: repeat(2,max-content);
    gap: 1rem;
  }
  
  .dropdown-links{
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
  }
  
  .dropdown-links>div{
    padding: 6px;
    padding-left: 12px;
    padding-right: 12px;
  }
  .dropdown-links>div>a{
    text-decoration: none;
    color: #191c21;
    font-size: 16px;
    line-height: 28px;
  }
  .dropdown-links>div:hover{
    background-color: #F0F0F4;
    
  }
  .navbar-right .select{
    border: none;
    font-size: small;
    letter-spacing: 1px;
    margin: 0;
    padding: 0;
    background-color: transparent;
  }
  
  .navbar>.navbar-right>button{
    width: 70px;
    height: 40px;
    margin: auto;
    color: #4636C5;
    font-size: small;
    font-weight: 400;
    border-radius:  38px;;
    border: 1px solid  #5846F6  ;  
    background-color: white;
  }
  
  .navbar>.navbar-right>#signup{ 
    background-color: #5846F6;
    color: white;
    width: 80px;
  }
  .navbar>.navbar-right>button:hover{
    background-color: #4636C5;
    color:#FAFAFB;
  }
  .navbar>.navbar-right>#signup:hover{ 
    background-color: #4636C5;;
    color: white;
    width: 80px; 
  }